<!-- Based on a Bootswatch template -->
<div *ngIf="user">
  <form (submit)="logHours(user.username)">
    <fieldset>
      <legend>New log</legend>
      <div class="form-group">
        <label for="inputDate" class="form-label mt-4">Date</label>
        <input type="Date" class="form-control" id="inputDate" [(ngModel)]="date" name="date">
      </div>
      <div class="form-group">
        <label for="inputHours" class="form-label mt-4">Hours</label>
        <input type="number" class="form-control" id="inputHours" [(ngModel)]="hours" name="hours" step="1" min="0" max="23" placeholder="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
      </div>
      <div class="form-group">
        <label for="inputMinutes" class="form-label mt-4">Minutes</label>
        <input type="number" class="form-control" id="inputMinutes" [(ngModel)]="minutes" name="number" step="1" min="0" max="59" placeholder="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
      </div>
    <button type="submit" class="btn btn-primary" style="margin-top:2%">Register</button>
  </fieldset>
</form>
</div>