<!-- Based on a Bootswatch template -->
<form (submit)="onRegisterSubmit()">
  <fieldset>
    <legend>Register</legend>
    <div class="form-group">
      <label for="inputName" class="form-label mt-4">Full Name</label>
      <input type="name" class="form-control" id="inputName" [(ngModel)]="name" name="name" aria-describedby="nameHelp" placeholder="John Doe">
    </div>
    <div class="form-group">
      <label for="inputUsername" class="form-label mt-4">Username</label>
      <input type="username" class="form-control" id="inputUserame" [(ngModel)]="username" name="username" aria-describedby="nameHelp" placeholder="johndoe">
    </div>
    <div class="form-group">
      <label for="inputEmail" class="form-label mt-4">Email address</label>
      <input type="email" class="form-control" id="inputEmail" [(ngModel)]="email" name="email" aria-describedby="emailHelp" placeholder="johndoe@mail.com">
    </div>
    <div class="form-group">
      <label for="inputPassword" class="form-label mt-4">Password</label>
      <input type="password" class="form-control" id="inputPassword" [(ngModel)]="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top:2%">Register</button>
  </fieldset>
</form>
